server:
  port: 8083

spring:
  application:
    name: myce-api-gateway
  config:
    import: optional:file:.env[.properties]
  data:
    redis:
      url: ${REDIS_URL}
      repositories:
        enabled: false
  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_UNIQUE
            - name: LoggingFilter
              args:
                preLogger: true
                postLogger: true
            - name: JwtAuthenticationFilter
              args:
                internalAuthValue: ${INTERNAL_AUTH_VALUE}
          routes:
            - id: notification-api
              uri: http://localhost:8082/
              predicates:
                - Path=/api/notifications/**

            - id: chat
              uri: http://localhost:8031/
              predicates:
                - Path=/api/chats/**, /ws/**

            - id: core-service
              uri: http://localhost:8081/
              predicates:
                - Path=/**


jwt:
  secret: ${JWT_SECRET}