server:
  port: 8083

spring:
  application:
    name: myce-api-gateway
  config:
    import:
      - optional:aws-parameterstore:/myce/common/
      - optional:aws-parameterstore:/myce/${spring.profiles.active}/
  data:
    redis:
      url: ${REDIS_URL}
      repositories:
        enabled: false
  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_UNIQUE
            - name: LoggingFilter
              args:
                preLogger: true
                postLogger: true
            - name: JwtAuthenticationFilter
              args:
                internalAuthValue: ${GATEWAY_AUTH_VALUE}
          routes:
            - id: notification-api
              uri: lb://NOTIFICATION-API
              predicates:
                - Path=/api/notifications/**

            - id: chat-api
              uri: lb://CHAT-API
              predicates:
                - Path=/api/chats/**, /ws/**

            - id: core-service
              uri: lb://CORE-API
              predicates:
                - Path=/**

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_URL}
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
  prometheus:
    metrics:
      export:
        enabled: true

jwt:
  secret: ${JWT_SECRET}