server:
  port: 8083

spring:
  application:
    name: myce-api-gateway
  config:
    import: optional:file:.env[.properties]
  data:
    redis:
      url: ${REDIS_URL}
      repositories:
        enabled: false
  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - name: JwtAuthenticationFilter
              args:
                internalAuthValue: ${INTERNAL_AUTH_VALUE}
          routes:
            - id: notification-api
              uri: http://localhost:8011
              predicates:
                - Path=/api/notifications/**

            - id: core-service
              uri: http://localhost:8081/
              predicates:
                - Path=/**

jwt:
  secret: ${JWT_SECRET}